html {
    background: black;
}

canvas {
    height: 100vh;
    display: block;
    position: absolute;
    transition: opacity 0s;
}

canvas.finished {
    opacity: 0;
    transition: opacity 4s;
}

canvas.z {
    height: 100vh;
    position: absolute;
    right: 0;
}
