@import "compass/reset";
@import "compass/css3";

html, body {
    width: 100%;
    height: 100%;
}

html {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: row;
    flex: 1;

    >* {
        border: 1px solid black;
        overflow: auto;
    }

    >section {
        flex: 1;
    }

    >form {
        border: 1px solid lightgray;
        padding: 5px;
        width: 20%;
        resize: horizontal;
        padding: 5px;
    }
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 100%;
    $label-width: 15px;

    label {
        display: inline-block;
        width: $label-width;
        margin-right: -$label-width;
        color: #367cf1;
    }

    >input[name="mode-chain-json"] {
        box-sizing: border-box;
        padding-left: $label-width;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
    }
}

input[type="submit"] {
    display: none;
}

.bias-voltage, .current-signal {
    display: inline-block;
    text-align: right;
}

.bias-voltage {
    width: 50px;
}

.current-signal {
    width: 30px;
}

ul.log {
    $indent-width: 15px;

    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;

    li {
        padding-left: $indent-width;
    }

    li::before {
        display: inline-block;
        margin-left: -$indent-width;
        width: $indent-width;
    }

    li.error {
        background: #fff0f0;
        color: red;
    }

    li.error::before {
        content: "⦻";
        color: red;
        background: #fff0f0;
    }

    li.input::before {
        content: ">";
    }

    li.input span {
        background: lightgreen;
    }

    li.error span {
        background: red;
    }
}

section>section {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

svg.graph {
    display: block;
    width: 100%;
    height: 300px;
    background: lightgray;
}

path.z {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

path.current-signal {
    fill: none;
    stroke: red;
    stroke-width: 0.5px;
}
