@import "compass/reset";

html {
    font-size: 14px;
}

form {
    width: 1080px;
    padding: 5px;
}

.bias-voltage, .current-signal {
    display: inline-block;
    text-align: right;
}

.bias-voltage {
    width: 50px;
}

.current-signal {
    width: 30px;
}

ul.log {
    width: 1080px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul.log li {
    padding-left: 20px;
}

ul.log li::before {
    display: inline-block;
    margin-left: -20px;
    width: 20px;
}

ul.log li.error {
    background: #fff0f0;
    color: red;
}

ul.log li.error::before {
    content: "⦻";
    color: red;
    background: #fff0f0;
}

ul.log li.input::before {
    content: ">";
}

ul.log li.input span {
    background: lightgreen;
}

ul.log li.error span {
    background: red;
}

section {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

svg.graph {
    display: block;
    width: 1080px;
    height: 200px;
    background: lightgray;
}

path.z {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

path.current-signal {
    fill: none;
    stroke: red;
    stroke-width: 0.5px;
}

form {
    border: 1px solid lightgray;
    padding: 5px;
}

input[name="mode-chain-json"] {
    width: 1000px;
    border: none;
    outline: none;
}

label {
    color: #367cf1;
}

input[type="submit"] {
    display: none;
}
