html {
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

form {
    position: absolute;
    width: 1080px;
    padding: 5px;
    font-size: 20px;
}

pre {
    width: 1080px;
    height: 100px;
    overflow: scroll;
}

input[name="command"] {
    width: 1000px;
}

input[type="submit"] {
    top: 50px;
}

canvas {
    position: absolute;
}

canvas.graph {
    width: 210px;
    height: 1080px;
}

canvas.graph.index-0 {
    left: 1080px;
}

canvas.graph.index-1 {
    left: 1290px;
}

canvas.graph.index-2 {
    left: 1500px;
}

canvas.graph.index-3 {
    left: 1710px;
}
