html {
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

form {
    width: 1080px;
    padding: 5px;
    font-size: 20px;
}

.bias-voltage, .current-signal {
    display: inline-block;
    text-align: right;
}

.bias-voltage {
    width: 50px;
}

.current-signal {
    width: 30px;
}

div.log {
    width: 1080px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;
}

section {
    margin-top: 5px;
    border: 1px solid lightgray;
}

svg.graph {
    display: block;
    width: 1080px;
    height: 200px;
    background: lightgray;
}

path.z {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

path.current-signal {
  fill: none;
  stroke: red;
  stroke-width: 0.5px;
}

input[name="mode-chain-json"] {
    width: 1000px;
}

input[type="submit"] {
    top: 50px;
}
