html {
    font-size: 14px;
}

form {
    width: 1080px;
    padding: 5px;
}

.bias-voltage, .current-signal {
    display: inline-block;
    text-align: right;
}

.bias-voltage {
    width: 50px;
}

.current-signal {
    width: 30px;
}

ul.log {
    width: 1080px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul.log li span {
    display: inline-block;
    width: 15px;
}

ul.log li.input span {
    background: lightgreen;
}

ul.log li.error span {
    background: red;
}

section {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

svg.graph {
    display: block;
    width: 1080px;
    height: 200px;
    background: lightgray;
}

path.z {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

path.current-signal {
  fill: none;
  stroke: red;
  stroke-width: 0.5px;
}

input[name="mode-chain-json"] {
    width: 1000px;
}

input[type="submit"] {
    top: 50px;
}
