html {
    background: black;
    width: 178vh; /* 16:9 */
    overflow: hidden;
}

canvas.scan {
    height: 100vh;
}

canvas.image {
    float: left;
    transition: opacity 0s;
}

canvas.beam {
    position: absolute;
    left: 0;
}

canvas.finished {
    opacity: 0;
    transition: opacity 4s;
}

canvas.graph {
    float: left;
    height: 100vh;
}
